/*
    NORMALIZE
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

*{
  @include box-sizing(border-box);
}

html {
  font-family: sans-serif;
  font-size: 62.5%; 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
}

body{
  margin: 0;
  font-family: $fontRegular;
  @include fontSize(18);
  color: $text;
  line-height: normal;
  background: $base;
  //-webkit-tap-highlight-color: $primary;
}

a{
  color: $primary;
  text-decoration: none;
  outline: 0;
}
a:hover{
  color: $text;
}
a:active,
a:hover {
    
}

h1,h2,h2,h3,h4,h6{
  margin: 0;
  font-family: $fontBold;
  font-size: 1em;
  font-weight: normal;
  color: $text;
}

b,
strong {
    font-family: $fontBold;
    font-weight: normal;
}

p{
    margin: 0;
    padding: 0 0 8px;
    line-height: 1.2;
}

::selection{
  background: $primary;
  color: #FFF;
}
::-moz-selection{
  background: $primary;
  color: #FFF;
}

ul, ol, dl, dd{
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0; 
  -ms-interpolation-mode: bicubic; 
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

iframe{
  max-width: 100%;
}

figure {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
